* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

main {
  background: white;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

main .die-container .die {
  height: 35px;
  width: 35px;
  border-radius: 3.81px;
  box-shadow: 0px 2.5px 2.5px gray;
}

button {
  height: 100%;
  width: 100%;
  font: bold;
  font-family: Karla;
  font-size: 1.287rem;
}